<%= form_for(@raid_boss_kill) do |f| %>
  <% if @raid_boss_kill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raid_boss_kill.errors.count, "error") %> prohibited this raid_boss_kill from being saved:</h2>

      <ul>
      <% @raid_boss_kill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :raid_boss_id %><br>
    <%= f.text_field :raid_boss_id %>
  </div>
  <div class="field">
    <%= f.label :raid_id %><br>
    <%= f.text_field :raid_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
